h1 {
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 34px;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 34px;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    color: #35DB96;
    font-weight: 300;
    font-size: 30px;
}
h4 {
    font-family: 'Helvetica', sans-serif;
    color: #585858;
    font-weight: 300;
    font-size: 30px;
}
h5 {
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h6 {
    font-family: 'Helvetica', sans-serif;
    color: #585858;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-weight: 400;
    font-size: 16px;
}
a {
    font-family: 'Roboto', sans-serif;
    color: #35DB96;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}
a:hover {
    color: #759BAC;
    text-decoration: none;
}
